/* grid */
.container {

	margin: 0 auto;
	width: $grid-size-container;
	max-width: $grid-size;

	padding-left: $grid-space;
	padding-right: $grid-space;

	@include clearfix();

	.row {
		@include clearfix();
		margin-left: -$grid-space;
		margin-right: -$grid-space;
	}
}

@include make-grid-columns();